
body, table td, select {
    font-family: Arial, sans-serif;
}


.gwt-Frame {
	border-width : 0px;
}

.xmleditor {
	white-space : pre;
	font-family : "Courier New", Courier, monospace;
	padding : 6px;
}
 

.xmlcontent {

}

div.headrow {
	padding : 2px;
}

div.headrow button {
	margin : 0px 0px 0px 4px;
}

.sidetitle {
	display : inline-block;
	padding :2px 20px;
	font-weight : bold;
	font-size : 14pt;
	color : #606060;	
}

.urlinput {
	width : 60%;
	padding : 3px 3px;
}

.graphscroll {
	background-color : #c0c0c0;	
}

.graphpanel {
	padding-right : 12px;
}



.dialogcloser {
	position : absolute;
	top : 8px;
	right : 12px;
	cursor : pointer;
}

.dialogcloser:hover {
	background-color : #c0c0c0;
}

